// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

body {
  margin: 0;
}

.full-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'source Sans Pro', sans-serif;
}

.section__header {
  padding: 1rem;
  background-color: #1d38c6;
  color: #ffffff;
  text-align: center;
}

.section-grid {
  flex-grow: 1;
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.grid__game {
  flex-basis: calc(100% / 4 - 2rem);
  min-width: 8rem;
  margin: auto;
  padding: 0;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.grid__game--date {
  padding: 0.5rem;
  background-color: #1d38c6;
  color: #ffffff;
  text-align: center;
}

.grid__game--content {
  padding: 0.5rem;
}

.grid__game--row {
  display: flex;
  justify-content: space-between;
}

.home-form {


  &__label {
    width: 100%;
    flex-grow: 1rem;
    background-color: #1d38c6;
    padding: none;
    color: white;

  }

  &__input {
    flex-grow: 1rem;
    width: 100%;
  }

}


.input__name {
display: flex;
// border: none;
// // min-width: 8rem;
// background-color: #1d38c6;
// text-align: center;
// font-size: 0.5rem;
}

.btn--submit {
  background-color:#ed510e;
  padding: 0.5rem;
  width: 100%;
  color: white;
}
